{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "printWidth": 100,
    "tabWidth": 4,
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
